@model ProyekAkhir_Teknet.Models.RegisterVaksin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LoginLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RegisterVaksin</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
