@model ProyekAkhir_Teknet.LaporanPasien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LoginLayout.cshtml";
}

<h2>Details</h2>

c
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Deskripsi_Laporan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
